usingasb/Optimization Results/*
temp/*
test_modal.py
prop/*
computation/*
settings.json
usingasb/diagnostics/Modal_Optimization/*
settings.json

# Some of the things that don't work yet
usingasb/diagnostics/collect_all.py
# usingasb/diagnostics/complete_diagnostic_helpers/* # I think it works??

# Stuff you don't get to see eheheheh (its so my github doesn't take 30 years to push)
usingasb/diagnostics/Modal_Best/*
usingasb/diagnostics/Modal_Sigma/*
usingasb/diagnostics/Modal_Display_Info/*
usingasb/diagnostics/Modal_Display/*

testing.py